<tbody>
      <tr>
        <td><%= link_to country.country_fr, country_path(country) %></td>
        <td><%= country.country_en%></td>
        <td><%= country.iso_numerical%></td>
        <td><%= country.iso_alpha2%></td>
        <td><%= country.iso_alpha3%></td>
      </tr>
</tbody>